page-home {
    ion-content{
        background: #F0F0F0;    
    }
    .article-list{
        padding: 0px;
        .article-info{
            margin-bottom:10px;
            list-style: none;
            border:1px solid #E6E9EE;
            border-radius:2px;
            padding:10px 8px;
            background: white;
            .article-block{
                height:120px;
                
                .article-author{
                    height:30px;
                    line-height:30px;
                    vertical-align: middle;
                }
                .article-title{
                    height:20px;
                    line-height: 20px;
                }
                .article-content{
                    overflow:hidden;
                    height:50px;
                    line-height: 25px;
                    text-overflow: ellipsis;
                }
                .article-foot{
                    height:20px;
                    padding-top:5px;
                }
            }
        }
    }
}
