<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ul class="article-list">
    <li class="article-info" *ngFor="let article of ArticleList">
      <div class="article-block">
        <div class="article-author">
            <img src="{{article.user_head}}" style="width:15px;vertical-align:middle;">
            <span>{{article.user}}</span>
            <span style="float:right">{{article.types}}</span>
        </div>
        <p class="article-title"><b>{{article.title}}</b></p>
        <article class="article-content">{{article.info}}</article>
        <div class="article-foot">
          <span (click)="likeIt(article)"  style="margin-right:10px;">
              <ion-icon *ngIf="article.like" ios="md-heart" md="md-heart" style="vertical-align: middle;"></ion-icon>
              <ion-icon *ngIf="!article.like" ios="md-heart-outline" md="md-heart" style="vertical-align: middle;"></ion-icon>
              <span>{{article.favourate > 0 ? article.favourate : "喜欢"}}</span>
          </span>
          <span (click)="goTextPage()">
              <ion-icon ios="ios-text-outline" md="md-text" style="vertical-align: middle;"></ion-icon>
              <span>评论</span>
          </span>
        </div>
      </div>
    </li>
  </ul>
</ion-content>
